# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://postgres:123456@localhost:5432/ecom_dev?schema=public"
SECRET_API_KEY= trannguyenhaidang2004
ACCESS_TOKEN_EXPIRES_IN=1h
REFRESH_TOKEN_EXPIRES_IN=1d
ACCESS_TOKEN_SECRET=hoc_lap_trinh_edu_haidang_com_access_token
REFRESH_TOKEN_SECRET=hoc_lap_trinh_edu_haidang_com_refresh_token

ADMIN_NAME="Tran Nguyen Hai Dang"
ADMIN_PASSWORD=nestjsbackend
ADMIN_EMAIL=haidang210804@gmail.com
ADMIN_PHONE_NUMBER=0393509387

OTP_EXPIRES_IN=5m

RESEND_API_KEY=re_9erBzM3q_FQS9F5TeLrnWauyP8KRHTaDi